$primary: #3b4252;
$secondary: #434c5e;
$white: #ffffff;
$whiteSecondary: #eceff4;
$dark: #2e3440;
$border: #d8dee9;
$reference: #5e81ac;
$success: #a3be8c;
$warning: #ebcb8b;
$danger: #bf616a;
$love: #ee5253;
