nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $navbarHeight;
  border-bottom: 1px solid $border;
  background-color: $primary;
  z-index: 11;
  > .container {
    height: 100%;
    padding-left: $margin;
    padding-right: $margin;
    > .content {
      width: 100%;
      max-width: $contentWidth;
      margin: 0 auto;
      height: 100%;
      display: flex;
      flex-direction: row;
      > .left, > .middle, > .right {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: calc(#{$margin} / 2);
        padding-bottom: calc(#{$margin} / 2);
      }
      > .middle {
        flex: 1;
      }
      .hero {
        height: 100%;
        > .svg-inline--fa {
          height: 100%;
          color: $white;
        }
      }
      .actions {
        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          color: $white;
          min-width: calc(#{$navbarHeight} - #{$margin});
          height: calc(#{$navbarHeight} - #{$margin});
          padding: 0;
          margin-right: calc(#{$margin} / 2);
          &:hover {
            background-color: $secondary;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
