/* Variables */
@import 'sizes';
@import 'colors';
/* Base */
@import 'typography';
html {
  height: 100%;
  background-color: $whiteSecondary;
  body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    #root {
      height: 100%;
    }
    * {
      box-sizing: border-box;
    }
  }
}
/* Componentes */
@import 'button';
@import 'cards';
@import 'composer';
@import 'form';
@import 'grid';
@import 'navbar';
@import 'notification';
/* Vistas */
@import 'login';
@import 'scene';
